body
{
  font-family:  'Be Vietnam Pro',"Poppins","HelveticaNeue-Light", sans-serif,"Segoe WPC", "Segoe UI", "SFUIText-Light","Droid Sans Fallback";
  font-size: 18px;
  padding: 0 12px;
  line-height: 1.6;
  word-wrap: break-word;
  color: #333333;
}

.content-wrapper{
  max-width: 860px;
    margin: 0 auto;
    padding: 20px 30px 40px 30px;
    padding-top: 20px;
    padding-bottom: 100px;
}

#code-csp-warning {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  margin: 16px;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  background-color:#444444;
  cursor: pointer;
  padding: 6px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

#code-csp-warning:hover {
  text-decoration: none;
  background-color:#007acc;
  box-shadow: 2px 2px 2px rgba(0,0,0,.25);
}


body.scrollBeyondLastLine 
{
  margin-bottom: calc(100vh - 22px);
}

body.showEditorSelection .code-line 
{
  position: relative;
}

body.showEditorSelection .code-active-line:before,
body.showEditorSelection .code-line:hover:before
{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -12px;
  height: 100%;
}

body.showEditorSelection li.code-active-line:before,
body.showEditorSelection li.code-line:hover:before
{
  left: -30px;
}

.vscode-light.showEditorSelection .code-active-line:before {
  border-left: 3px solid rgba(0, 0, 0, 0.15);
}

.vscode-light.showEditorSelection .code-line:hover:before {
  border-left: 3px solid rgba(0, 0, 0, 0.40);
}

.vscode-dark.showEditorSelection .code-active-line:before {
  border-left: 3px solid rgba(255, 255, 255, 0.4);
}

.vscode-dark.showEditorSelection .code-line:hover:before {
  border-left: 3px solid rgba(255, 255, 255, 0.60);
}

.vscode-high-contrast.showEditorSelection .code-active-line:before {
  border-left: 3px solid rgba(255, 160, 0, 0.7);
}

.vscode-high-contrast.showEditorSelection .code-line:hover:before {
  border-left: 3px solid rgba(255, 160, 0, 1);
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: #4080D0;
  text-decoration: none;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 1px solid -webkit-focus-ring-color;
  outline-offset: -1px;
}

hr {
  border: 0;
  height: 2px;
  border-bottom: 2px solid;
}

h1 {
  padding-bottom: 0.3em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}


h2{
  padding-bottom: .3em;
    font-size: 2em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

h3{
  font-size: 1.75em;
    line-height: 1.225;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: inherit;
  line-height: auto;
}

a:hover {
  color: #4080D0;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

table > thead > tr > th {
  text-align: left;
  border-bottom: 1px solid;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td {
  padding: 5px 10px;
}

table > tbody > tr + tr > td {
  border-top: 1px solid;
}

blockquote {
  margin: 0 7px 0 5px;
  padding: 0 16px 0 10px;
  border-left: 5px solid;
}

code {
  font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
  font-size: 14px;
  line-height: 19px;
}

body.wordWrap pre {
  white-space: pre-wrap;
}

.mac code {
  font-size: 12px;
  line-height: 18px;
}

pre:not(.hljs),
pre.hljs code > div {
  padding: 16px;
  border-radius: 3px;
  overflow: auto;
}

.vscode-light,
.vscode-light pre code {
  color: rgb(30, 30, 30);
}

.vscode-dark,
.vscode-dark pre code {
  color: #DDD;
}

.vscode-high-contrast,
.vscode-high-contrast pre code {
  color: white;
}

.vscode-light code {
  color: #A31515;
}

.vscode-dark code {
  color: #D7BA7D;
}

.vscode-light pre:not(.hljs),
.vscode-light code > div {
  background-color: rgba(220, 220, 220, 0.4);
}

.vscode-dark pre:not(.hljs),
.vscode-dark code > div {
  background-color: rgba(10, 10, 10, 0.4);
}

.vscode-high-contrast pre:not(.hljs),
.vscode-high-contrast code > div {
  background-color: rgb(0, 0, 0);
}

.vscode-high-contrast h1 {
  border-color: rgb(0, 0, 0);
}

.vscode-light table > thead > tr > th {
  border-color: rgba(0, 0, 0, 0.69);
}

.vscode-dark table > thead > tr > th {
  border-color: rgba(255, 255, 255, 0.69);
}

.vscode-light h1,
.vscode-light hr,
.vscode-light table > tbody > tr + tr > td {
  border-color: rgba(0, 0, 0, 0.18);
}

.vscode-dark h1,
.vscode-dark hr,
.vscode-dark table > tbody > tr + tr > td {
  border-color: rgba(255, 255, 255, 0.18);
}

.vscode-light blockquote,
.vscode-dark blockquote {
  background: rgba(127, 127, 127, 0.1);
  border-color: rgba(0, 122, 204, 0.5);
}

.vscode-high-contrast blockquote {
  background: transparent;
  border-color: #fff;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #FFFFFF;
}

.hljs,
.hljs-subst {
  color: #434f54;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-doctag,
.hljs-name {
  color: #00979D;
}

.hljs-built_in,
.hljs-literal,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #D35400;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #00979D;
}

.hljs-type,
.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #005C5F;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-comment {
  color: rgba(149,165,166,.8);
}

.hljs-meta-keyword {
  color: #728E00;
}

.hljs-meta {
  color: #434f54;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-function {
  color: #728E00;
}

.hljs-number {
  color: #8A7B52;  
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  border-radius: 3px;
  overflow-x: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

pre:not(.hljs) {
  padding: 23px;
  line-height: 19px;
}

blockquote {
  background: rgba(127, 127, 127, 0.1);
  border-color: rgba(0, 122, 204, 0.5);
}

.emoji {
  height: 1.4em;
}

 /* for inline code */
 :not(pre):not(.hljs) > code {
   color: #C9AE75; /* Change the old color so it seems less like an error */
   font-size: inherit;
 }
 
 @import url(
 'https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
   
       #myanimation{
          display: inline-block;
           color: green;
           max-width: 100%;
          white-space: nowrap;
           overflow:hidden;
          border-bottom: 5px outset black;
       }
       #myanimation:first-of-type{
         animation: appear 5s infinite;
       }
       #myanimation:last-of-type{
         animation: reveal 10s infinite;
       }
       #myanimation:last-of-type span{
         font-size: 33px;
         color: #808000;
         animation: slide 10s infinite;
       }
       @keyframes appear{
         0%{opacity: 0;}
         20%{opacity: 1;}
         80%{opacity: 1;}
         100%{opacity: 0;}
       }
       @keyframes slide{
         0%{margin-left:-800px;}
         20%{margin-left:-800px;}
         35%{margin-left:0px;}
         100%{margin-left:0px;}
       }
       @keyframes reveal{
         0%{opacity: 0; width: 0px;}
         20%{opacity: 1; width: 0px;}
         80%{opacity: 1;}
         100%{opacity: 0; width: 1055px;}
       }
       
       #myAnim2{
       display: block;
       overflow: hidden;
        color: rgb(111, 114, 111);
        max-width: 100%;
       white-space: nowrap;
       }
       #myAnim2:first-of-type{
         animation: appear 5s infinite;
       }
       #myAnim2:last-of-type{
         animation: reveal 10s infinite;
       }
       #myAnim2:last-of-type span{
         font-size: 33px;
         color: #808000;
         animation: slide 10s infinite;
       }
       @keyframes appear{
         0%{opacity: 0;}
         20%{opacity: 1;}
         80%{opacity: 1;}
         100%{opacity: 0;}
       }
       @keyframes slide{
         0%{margin-left:-800px;}
         20%{margin-left:-800px;}
         35%{margin-left:0px;}
       100%{margin-left:0px;}
       }
       @keyframes reveal{
         0%{opacity: 0; width: 0px;}
         20%{opacity: 1; width: 0px;}
         80%{opacity: 1;}
         100%{opacity: 0; width: 1055px;}
       }
 /* Page Break : use <div class="page"/> to insert page break
-------------------------------------------------------- */
.page {
  page-break-after: always;
}
#first-link li
{
  margin:5px;
}
.mynav
{
  border-top: 5px outset grey;
  border-bottom: 5px outset grey;
  border-left: 5px inset grey;
  border-right: 5px inset grey;
  background-color:transparent;
}
.languages a
{    
  display: inline;
}
#my-lang img
{
  max-height: 80px;
  max-width: 80px;
}